.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400vh;
  /* Full viewport height per project */
  position: relative;
  margin: 10px;
}

.projectshead {

  color: #ffffff;
 text-align: center;
  margin-top: 64px;
  width: 100%;
  max-width: 1200px;
  padding-bottom: 10px;
  animation: fadeInUp 1s ease-in-out;
  justify-content: center;
  bottom: 20px;
  position: relative;
}

.title{
margin: 20px 0;
}
.project-card {
  width: 70%;
  height: auto;
  margin: 10px 0;
  padding: 20px;
  background: #1D1D1D;
  border-radius: 10px;
  box-shadow: 20px 25px 60px rgba(43, 42, 42, 0.1);
  position: sticky;
  top: 13%;
  /* Adjust the top position to create the stacking effect */
  z-index: 1;
  transition: transform 0.1s ease, z-index 0.1s ease;
}


.card-header {
  background-color: #353535;
  color: #fff;
  padding: 0 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  
}

.card-header a {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  transform: rotate(45deg);
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card {
  animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow-icon {
  width: 24px;
  height: 24px;
  transform: rotate(-45deg);
  padding: 5px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(255, 249, 249);
}

.image-container {
  position: static;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  /* Add padding to the image container */
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.heading{
  margin-top: 15px;
  margin-left: 0px;
}

@media (max-width: 768px) {
  .projects-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 250vh;
    /* Full viewport height per project */
    position: relative;
    margin-left: 18px;
    margin-top: 90px;
  }

  .heading {
    font-size: 25px;
  }
  .description{
    font-size: 10px;
  }
  .project-card {
    top: 13%;
    height:auto;
    width: 90%;
    margin: 0cm;
    margin-left: 0 29px;
    overflow: hidden;
  }

  .projectshead {
    max-width: 1200px;
    width: 100%;
    margin: 1px;
  }

}

