.network-status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1000;
  text-align: center;
}

.network-status img {
  max-width: 100%;
  width: 300px; /* Default width */
  margin-bottom: 20px;
}

.network-status p {
  font-size: 1.2em;
  margin: 0 10px; /* Ensure text has some padding on smaller screens */
}

/* Responsive Design */
@media (max-width: 768px) {
  .network-status img {
    width: 80%; /* Adjust the image size for smaller screens */
  }

  .network-status p {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}