.network-status {
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1000;
  
}

.network-status p {
  font-size: 1.2em;
  margin: 0 10px;
}

.network-status img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .network-status {
    padding: 9px;
  }

  .network-status p {
    font-size: 2em;
 /* Increased text size */
    margin:0 4px;
  }

  .network-status img {
    width: 60%; /* Increased image size */
  }
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .network-status p {
    font-size: 1em;
  }

  .network-status img {
    width: 80%;
  }
}